__pycache__/
*.py[cod]

.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data & models
datasets/Au
datasets/*.mp4
models/
logs/
