# Posgres config 
PG_USER=mlflow
PG_PASSWORD=mlflow
PG_DB=mlflow
PG_PORT=5432

# MLflow config
MLFLOW_PORT=5000
MLFLOW_BUCKET_NAME=mlflow

# MinIO access keys
MINIO_ACCESS_KEY=PLACEHOLDER
MINIO_SECRET_ACCESS_KEY=PLACEHOLDER

# MinIO config
MINIO_ROOT_USER: 'minio_user'
MINIO_ROOT_PASSWORD: 'minio_pwd'
MINIO_ADDRESS: ':9000'
MINIO_STORAGE_USE_HTTPS: False
MINIO_CONSOLE_ADDRESS: ':9001'
MINIO_BUCKET_NAME: 'mlflow'
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# main service
DISPATCH_MONITOR_PORT=8000

# others
INITIAL_RUN_NAME: 'initial_model'
